  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fontFamily{
  /* font-family: sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Rubik', sans-serif;
}
/* container responsive */
@media (min-width: 1930px) {
  .headerContainer{
    width: 90%;
    margin: 0px auto;
  }
}
.navBar{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 0.9rem;
}
.navBar a{
  color: #101426;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 400;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .navBar a:hover{
    color:#269CDD;
  }


header{
  width: 100%;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(38, 156, 221, 0.3), white);
  /* background-color: greenyellow; */
}
.headerPara{
  text-align: center;
  color: #8F9BB3;
  font-size: 12px;
  padding-top: 100px;
  letter-spacing: 0.35em;
  font-weight: 600;
}
.HeaderHeading{
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 1px; 
  color:#101426;
  font-weight: 400;
}
.HeaderHeadingTwo{
  text-align: center;
  margin-top: 10px;
  color: #269CDD;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px; 
}
.HeaderHeadingThree{
text-align: center;
letter-spacing: 2px; 
margin-top: 15px;
font-size: 13px;
font-family: 'Montserrat', sans-serif;
}
.HeadarBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.HeaderDownloadBtn{
  padding: 14px;
  background-color: #269CDD;
  border-style: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.HeaderEnquriryBtn{
border-style: none;
border: 1px solid #8F9BB3;
border-radius: 5px;
margin-top: 15px;
padding: 11px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
color: #2E3A59;
}
.HeaderBoxTwo{
display: flex;}
.HeaderImg{
  width: 100vw;
  /* padding-bottom: 3rem; */

}
@media (min-width: 800px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    align-items:space-between;;
  }
  .HeaderImg{
    width: 50vw;
    padding-bottom: 3rem;

  }
  .HeaderBoxOne{
    width: 100%;
  }
  .HeadarBtns{
    padding-bottom: 3rem;

  }
}


@media (min-width: 950px) {
  .HeadarBtns{
    flex-direction: row;
  }
  .HeaderEnquriryBtn{
    margin-top: 0px;
    margin-left: 2rem;
  }
  .HeadarBtns{
    margin-top: 20px;
  }
}

@media (min-width: 1160px) {
  .headerPara{
    margin-top: 16vh;
    text-align: left;

  }
  .HeaderHeading{
    font-size: 2.5rem;
    text-align: left;

  }
  .HeaderHeadingTwo{
    font-size: 2.5rem;
    text-align: left;

  }
  .HeaderHeadingThree{
    font-size: 1rem;
    text-align: left;

  }
  .HeaderEnquriryBtn , .HeaderDownloadBtn{
    padding: 1.1rem;
    font-size: 1rem;
  }
  .HeadarBtns{
    justify-content: left;
  }
}

@media (min-width: 1500px) {
.HeaderHeading,.HeaderHeadingTwo{
  font-size: 3.3rem;
}
}

.HeaderTexBox{
  /* background-color: green; */
  width: 70%;
  margin: 0px auto;
}
 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
 /* service section */
 .serviceSection{
  background-color: #F8F8F8;
  width: 100%;
  padding-bottom: 30px;

 }
 .serviceHeading{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
 }
 .serviceBoxs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

 }
 .serviceBox{
  width: 150px;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);

 }
 .sevixeBoxP{
  margin-top: 13px;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2A2031;

 }
 .serviceBoxIcon{
  width: 3vh;
}
 @media (min-width: 600px) {
  .serviceBox{
    width: 20vh;
    height: 13vh;
  }
  .sevixeBoxP{
    font-size: 1rem;
  }
  .serviceHeading{
    font-size: 1.6rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  .serviceSection{
    padding-bottom: 4rem;
  }
  .serviceBoxIcon{
    width: 5vh;
  }
 }
 @media (min-width: 1150px) {
  .serviceBoxs{
    gap: 20px;
  }
  .serviceHeading{
    font-size: 2.5rem;
  }
  .serviceSection{
    padding-bottom: 7rem;
  }
  .serviceBox{
    /* width: 23vh;
    height: 15vh; */
    width: 30vh;
    height: 20vh;
  }
  .serviceBoxIcon{
    width: 6vh;
  }
 }
 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
.serviceFields{
  padding: 0px 30px;
  margin-bottom: 20px;
}
 .serviceFieldsHeading{
display: flex;
justify-content: center;
padding-top: 2rem;
font-size: 1.2rem;
font-weight: 500;
margin-bottom: 20px;
}
.serviceFieldsParagraph{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  line-height: 160%;
  letter-spacing: 0.05em;
}
.serviceFieldsImgBOx{
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* width: 500px; */
}
.serviceFieldsImgs{
  width: 150px;
  /* width: 100%; */
  border-radius: 10px;
}
.serviceFieldsImgFlexOne, .serviceFieldsImgFlexTwo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.serviceFieldsImgFlexTwo{
  padding-top: 50px;
}
.btnCetnre{
  display: flex;
margin: 0px auto;
margin-top: 20px;
}
@media (min-width: 550px) {
  .serviceFieldsImgs{
    width: 15rem;
  }
  .serviceFieldsParagraph{
    font-size: 1rem;
  }
  
}
 @media (min-width: 800px) {
  .serviceFieldsFlex{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
  }
  .serviceFields{
    width: 50%;
  }
  .serviceFieldsImgBOx{
    width: 50%;
    /* margin-top: 3rem; */
  }
  .serviceFieldsImgs{
    width: 15rem;
  }
  .serviceFieldsImgs{
    width: 17vw;
  }
  .serviceFieldsHeading{
    font-size: 1.6rem;

  }
  .serviceFieldsParagraph{
    /* font-size: 1.1rem; */
    padding-left: 30px;  

  }
  .serviceFieldsImgFlexTwo{
    padding-top:10rem;

  }
 }
 @media (min-width: 1300px) {
  .serviceFieldsParagraph{
    font-size: 1.2rem;
    line-height: 40px;
  }
  .serviceFieldsParagraph{
    margin-top: 50px;
  }
 }
