  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fontFamily{
  /* font-family: sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Rubik', sans-serif;
}
/* container responsive */
@media (min-width: 1930px) {
  .headerContainer{
    /* width: 90%; */
    width: 1930px;
    margin: 0px auto;
  }
}
 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
.popupicon{
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 4rem;
  cursor: pointer;
}
.fromActive{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: rgba(9, 9, 9, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.formBox{
  width: 80%;
  /* height: 500px; */
  padding-bottom: 25px;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column; 
  border-radius: 10px;

}
.formInpit{
  width: 80%;
  height: 25px;
  margin-top: 15px;
}
.formInpit::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  letter-spacing: 0.05em;
  padding: 5px;
}
.popupError{
  color: red;
  margin-top: 5px;
}
.popupDescription{
  margin-bottom: 2rem;
  height: 50px;
}
@media (min-width: 500px) {
  .popupicon{
    width: 5rem;
    right: 3rem;
    bottom: 50px;
  }
  .formBox{
    width: 450px;
  }
}
@media (min-width: 750px) {
  .formBox{
    width: 700px;
    padding-bottom: 50px;

  }
  .formInpit{
    width: 500px;
    height: 35px;
    margin-bottom: 15px;
  }
  .popupDescription{
    margin-bottom: 3rem;
    height: 80px;
  }
}


.navBar{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 0.9rem;
}
.navBar a{
  color: #101426;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 400;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .navBar a:hover{
    color:#269CDD;
  }


header{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(38, 156, 221, 0.3), white);
}
.headerPara{
  text-align: center;
  color: #8F9BB3;
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 0.35em;
  font-weight: 600;
}
.HeaderHeading{
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 1px; 
  color:#101426;
  font-weight: 400;
}
.HeaderHeadingTwo{
  text-align: center;
  margin-top: 10px;
  color: #269CDD;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px; 
}
.HeaderHeadingThree{
text-align: center;
letter-spacing: 2px; 
margin-top: 15px;
font-size: 13px;
font-family: 'Montserrat', sans-serif;
}
.HeadarBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.HeaderDownloadBtn{
  padding: 14px;
  background-color: #269CDD;
  border-style: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.HeaderEnquriryBtn{
border-style: none;
border: 1px solid #8F9BB3;
border-radius: 5px;
margin-top: 15px;
padding: 11px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
color: #2E3A59;
cursor: pointer;
}
.HeaderBoxTwo{
display: flex;}
.HeaderImg{
  width: 100%;
  /* padding-bottom: 3rem; */

}
@media (min-width: 800px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    align-items:space-between;;
  }
  .HeaderImg{
    width: 50vw;
    padding-bottom: 3rem;

  }
  .HeaderBoxOne{
    width: 100%;
  }
  .HeadarBtns{
    padding-bottom: 3rem;

  }
}


@media (min-width: 950px) {
  .HeadarBtns{
    flex-direction: row;
  }
  .HeaderEnquriryBtn{
    margin-top: 0px;
    margin-left: 2rem;

  }
  .HeadarBtns{
    margin-top: 20px;
  }
}

@media (min-width: 1160px) {
  .headerPara{
    margin-top: 16vh;
    text-align: left;

  }
  .HeaderHeading{
    font-size: 2.5rem;
    text-align: left;

  }
  .HeaderHeadingTwo{
    font-size: 2.5rem;
    text-align: left;

  }
  .HeaderHeadingThree{
    font-size: 1rem;
    text-align: left;

  }
  .HeaderEnquriryBtn , .HeaderDownloadBtn{
    padding: 1.1rem;
    font-size: 1rem;
  }
  .HeadarBtns{
    justify-content: left;
  }
}

@media (min-width: 1500px) {
.HeaderHeading,.HeaderHeadingTwo{
  font-size: 3.3rem;
}
}

.HeaderTexBox{
  width: 70%;
  margin: 0px auto;
}
 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
 /* gallery section */

 @keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/*  animation rigth side  */
 @keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


.img-sliders{
  white-space: nowrap;
  overflow: hidden;
}
 .img-slide{
  animation: 25s slide infinite linear;
  display: inline-block;
 }
 /*  animation rigth side  */
 .right{
  animation: 25s slideRight infinite linear;
 }
 .rightBox{
  margin-top: .4rem;
  margin-bottom: 30px;
 }

.img-slide img{
  width: 150px;
  height: 150px;
  margin: 0 3px;
  border-radius: 8px;
}
.gallerySection{
  padding-bottom: 40PX;
}

@media (min-width: 600px) {
  .img-slide img{
    width: 15rem;
    height: 15rem;
  }
}
@media (min-width: 1000px) {
  .img-slide img{
    width: 16rem;
    height: 16rem;

  }
}






 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
 /* service section */
 .serviceSection{
  background-color: #F8F8F8;
  /* background-color: #E4E9F2; */
  width: 100%;
  padding-bottom: 30px;

 }
 .serviceHeading{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
 }
 .serviceBoxs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

 }
 .serviceBox{
  width: 150px;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;


 }
 .sevixeBoxP{
  margin-top: 13px;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2A2031;
 }
 .serviceBoxIcon{
  width: 3vh;
}
 @media (min-width: 600px) {
  .serviceBox{
    width: 20vh;
    height: 13vh;
  }
  .sevixeBoxP{
    font-size: 1rem;
  }
  .serviceHeading{
    font-size: 1.6rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  .serviceSection{
    padding-bottom: 4rem;
  }
  .serviceBoxIcon{
    width: 5vh;
  }
 }
 @media (min-width: 1150px) {
  .serviceBoxs{
    gap: 20px;
  }
  .serviceHeading{
    font-size: 2.5rem;
  }
  .serviceSection{
    padding-bottom: 7rem;
  }
  .serviceBox{
    /* width: 23vh;
    height: 15vh; */
    width: 30vh;
    height: 20vh;
  }
  .serviceBoxIcon{
    width: 6vh;
  }
 }
 /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
.serviceFields{
  padding: 0px 30px;
  margin-bottom: 20px;
}
 .serviceFieldsHeading{
display: flex;
justify-content: center;
padding-top: 2rem;
font-size: 1.2rem;
font-weight: 500;
margin-bottom: 20px;
}
.serviceFieldsParagraph{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
  line-height: 160%;
  letter-spacing: 0.05em;
}
.serviceFieldsImgBOx{
  padding: 0px 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* width: 500px; */
}
.serviceFieldsImgs{
  width: 150px;
  /* width: 100%; */
  border-radius: 10px;
  /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); */

}
.serviceFieldsImgFlexOne, .serviceFieldsImgFlexTwo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.serviceFieldsImgFlexTwo{
  padding-top: 50px;
}
.btnCetnre{
  display: flex;
margin: 0px auto;
margin-top: 20px;
}


@media (min-width: 550px) {
  .serviceFieldsImgs{
    width: 15rem;
  }
  .serviceFieldsParagraph{
    font-size: 1rem;
  }
  
}
 @media (min-width: 800px) {
  .serviceFieldsFlex{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
  }
  .serviceFieldsOdd{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .serviceFields{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .serviceFieldsImgBOx{
    width: 50%;
    /* margin-top: 3rem; */
  }
  .serviceFieldsImgs{
    width: 15rem;
  }
  .serviceFieldsImgs{
    width: 17vw;
  }
  .serviceFieldsHeading{
    font-size: 1.6rem;

  }
  .serviceFieldsParagraph{
    /* font-size: 1.1rem; */
    padding-left: 30px;  
  }
  .oddParagraph{
    /* font-size: 1.1rem; */
    padding-right: 30px;  
  }
  .serviceFieldsImgFlexTwo{
    padding-top:10rem;

  }
 }
 @media (min-width: 1300px) {
  .serviceFieldsParagraph{
    font-size: 1.1rem;
    line-height: 40px;
  }
  .serviceFieldsParagraph{
    margin-top: 30px;
  }
  .serviceFieldsOdd{
    display: flex;
    flex-direction: row-reverse;
  }
  .serviceFieldsImgBOx{
    padding-bottom: 0px;
  }
  .serviceFieldsImgs{
    width: 13vw;
  }
 }
 .serviceFieldsOdd{
  background-color: #E4E9F2;
 }
   /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
/*  WalkThrough*/
.WalkThroughSection{
  padding: 30px;
}
.WalkThroughVedio{
  width: 90wv;
  height: 300px;
  display: flex;
  justify-content: center;
  margin:20px 0px;
  padding: 
  40px 0px;
}
@media (min-width: 600px) {
  .WalkThroughVedio{
    height: 400px;
  }
  .WalkThroughParagrap{
    width: 70%;
    margin: 0px auto;
  }
}
@media (min-width: 1200px) {
  .WalkThroughVedio{
    width: 80%;
    height: 600px;
    margin: 0px auto;

  }
}


  /* = = = = = = = = = = = = =   = = = = = = = = = = = = = = = = = = = =  */
/* footer section */
.FooterFlex{
  background-color: #269CDD;
  padding: 20px;
  display: flex;
  flex-direction: column;
   padding-bottom: 50px;
}
.FooterSendQuote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;

}
.FooterHeadding{
  display: flex;
  justify-content: center;  font-size: 1.4rem;
  letter-spacing: 0.04em;
  color: white;
  margin: 30px 0px;


}
.FooterInp{
  /* height: 25px; */
  padding: 9px;
  background-color: rgba(0, 83, 143, 0.15);
  border: 1px solid #ced4da;
  color: white;
  border-radius: 2px;
}
.FooterInp::placeholder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.FooterBtn{
  padding: 10px;
  width: 100px;
  background-color: #00538F;
  color: white;
  border-style: none;
  border-radius: 50px;
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.FooterAboutParagraph{
  color: white;
}
.FooterAboutHeading{

}
.footerIconWraper{
display: flex;
align-items: center;
gap: 15px;
margin-top: 10px;
}
.footerIcon{
  width: 35px;

}
.footerNumber{
  color: white;
}
.FooterSocialMediaIcons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footerSocialMediaIcon{
  display: flex;
  width: 30px;

}
.errorMsg{
  color: orange;
  font-weight: 400;
}

 
@media (min-width: 500px) {
  .footerSocialMediaIcon, .footerIcon{
    padding-left: 30px;

  }
  .FooterSendQuote {
    width: 400px;
  }
  .FooterAbout{
    width: 90%;
  }
  .FooterFlex{
  justify-content: center; 
  align-items: center;
  }
  .FooterHeadding{
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .FooterAbout{
    width: 40vw;
  }
  .FooterSendQuote{
    width: 30vw;
  }
  .FooterFlex{
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
